<nav class="sticky pusher">
  <section id="name-and-links">
    <header><a routerLink="/">Shayne A. Moore</a></header>
  </section>
  <section id="navigation-links">
    <ul>
      <li [class.selected]="currentURL == '/'"><a routerLink="/" >Home</a></li>
      <!--<li [class.selected]="currentURL == '/experiments'"><a routerLink="/experiments"> Experiments</a></li>-->
      <li [class.selected]="currentURL == '/projects'"><a routerLink="/projects" >Projects</a></li>
    </ul>
  </section>
</nav>
