.selected {
  color: blue;
  text-transform: uppercase;
  text-decoration: underline;
}

#name-and-links{
  position: relative;
  float:left;
  line-height: 54px;
  width:auto;
  padding-left: 15px;
}

#name-and-links header a{
  display: block;
  color: rgba(0,0,0,.54);
  font-size: 1.6em;
}

#navigation-links {
  line-height: 54px;
  float: right;
}

#navigation-links li {
  display: inline-block;
  line-height: 53px;
  width: auto;
  text-align: center;
  padding: 0px 14px;
  font-size: 15px;
}

#navigation-links a {
  color:black;
}

#navigation-links a:hover {
  color: #4CAF50;
}

@media only screen and (max-width: 768px) {
  #navigation-links {
    display: none;
  }
  #name-and-links{
    line-height: 40px;
  }
}
