.selected {
  border-bottom: 3px solid white;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

#name-and-links{
  position: relative;
  float:left;
  height:inherit;
  width:auto;
  padding-left: 15px;
}

#name-and-links header {
  display: block;
  color: #f2f2f2;
  font-size: 1.5em;
  font-style: italic;
  padding-top: 5px;
}

#social-links {
  padding-right: 10px;
}

#social-links li {
  display: inline-block;
  padding-top: 5px;
  padding-right: 12px;
  font-size: 1.2em;
}

#navigation-links {
  line-height: 58px;
  float: right;
}

#navigation-links li {
  display: inline-block;
  line-height: 55px;
  width: auto;
  text-align: center;
  padding: 0px 14px;
  font-size: 15px;
}

#navigation-links a:hover {
  color: white;
}

#navigation-links a.active {
  background-color: #4CAF50;
  color: white;
}

nav {
  position: relative;
  overflow: hidden;
  background-color: #30323D;
  font-weight: lighter;
  z-index: 1000;
  border: 0px solid;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
