nav {
  padding-top: 15px;
  float: right;
  overflow: hidden;
  background-color: #FFF;
  font-weight: lighter;
  z-index: 1000;
  border: 0px solid;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

nav ul{
  width:100%;
  height:100%;
}

nav li {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-size:.8em;
  height: 100%;
}


nav li a {
  position:relative;
}

nav li a i{
  width:100%;
  padding-bottom: 9px;
}
nav li a span{
  width:100%;
}
nav a:visited {
  color:black;
}
nav a:hover {
  color: rgba(0,0,0,.30);
}

nav a.selected {
  text-transform: uppercase;
  color: rgba(0,0,0,.50);
}

@media only screen and (min-width: 769px) {
  nav {
    display: none;
  }
}
