<div id="content-container" class="pushed">
  <div class="raised content">
    <section>
      <h1>Pepe Snap</h1>
      <div class="left">
        <img src="/assets/img/pepesnap.jpg" alt="Pepe Snap Screenshot" style="width:129px;height:200px;"/>
      </div>
      <div class="right">
        <p>Published Android app with <mark>300,000+ downloads</mark>  written in Java and XML using Android Studio. The app is a picture editing app allowing a user to take a new picture or import an existing one and edit it with various pictures/memes, and then save to phone. Artwork, splash-screen, and icons created by Jonathan Robins</p>
        <a href="https://play.google.com/store/apps/details?id=com.jonathanrobins.pepe_snap&hl=en_US">
          <i class="fab fa-google-play"></i>
          <span>DOWNLOAD</span></a>
      </div>
    </section>
  </div>
  <div class="raised content">
    <section>
      <h1>Allerg-Ease</h1>
      <div class="left">
        <iframe  src="https://www.youtube.com/embed/wpuXV75PMGo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="right">
        <p>Quality of life Android app that helps individuals with food allergies find safe menu items at a variety of restaurants. Won <mark>1<sup>st</sup> Place & Best in Show</mark> at Charleston Defense Contractors Association (CDCA) Student Mobile App Competition. Video by Ryan Callahan.</p>
        <a href="https://cec.georgiasouthern.edu/it/2015/12/10/it-students-win-1st-place-best-in-show-in-mobile-app-competition/">
          <i class="far fa-newspaper"></i>
          <span>READ</span>
        </a>
      </div>
    </section>
  </div>
<div>
