a {
  color:white;
}
.left {
  position: relative;
  height: 100vh;
  width: 45%;
  float: left;
}
mark{
  font-weight: bold;
  background-color: rgba(255,255,0, .49);
}
#about {
  position: relative;
  background-image: url("/assets/img/stardust.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.right {
  height: 100%;
  width: 55% ;
  float: right;
}

.row {
  position: relative;
  height: 100%;
  width: 100%;
}

#social-links{
  padding-top: 10px;
}
#social-links li{
  font-size: 1.5em;
  display:inline-block;
  padding-left: 7px;
  padding-right: 7px;
}

#about-context-section {
  position:relative;
  text-align: center;
}

#about-context-content{
  width:100%;
  text-align: center;
  position:absolute;
  top:50%;
}

#about-context-content h1{
  font-size: 2.8em;
  font-weight: lighter;
}

#down{
  display: none;
}
#about-content{
  position:absolute;
  top:50%;
  color: black;
  z-index: 999;
  margin-left:3%;
  margin-right: 3%;
  margin-bottom:3%;
  padding-left:25px;
  padding-right: 25px;
  background-color: #FFF;
  border: 0px solid;
  box-shadow: 0 0 9px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
#about-content b{
  font-size: 1.2em;
  font-weight: bolder;
}

#about-content p{
  padding: 15px 0px;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  #about-context-content h1{
    font-size: 4em;
  }
  #social-links{
    padding-top: 20px;
  }
  #social-links li{
    font-size: 3em;
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }
  .row{
    min-height: 200vh;
    width: 100vw;
  }
  .left {
    min-height:100vh;
    width:100%;
  }
  .right{
    min-height:100vh;
    height:50%;
    width:100%;
  }
  #down{
    padding-top: 60px;
    font-size: 2em;
    display: block;
  }
  #about-content {
    margin-top: 70px;
  }
  #about-content b{
    font-size: 1.5em;
    font-weight: bolder;
  }

  #about-content p{
    padding: 15px 0px;
    font-size: 1.2em;
    line-height: 1.5;
  }
}
