<section id="about" class="row">
  <div class="left" id="about-context-section">
    <div id="about-context-content">
      <h1>Who am  I?</h1>
      <ul id="social-links">
        <li><a href="https://github.com/Shayne-Moore"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.facebook.com/shayne.moore.397"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.linkedin.com/in/shayne-moore/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
      <a (click)="scrollToAbout($event)"><i id="down" class="fas fa-angle-down"></i></a>
    </div>
  </div>
  <div class="right" id="about-content-section">
    <div id="about-content">
      <p>
        My name is <mark>Shayne</mark>, and I'm a well-rounded Software Engineer based in Atlanta, GA.
        I love building all kinds of applications from back-end APIs to native
        mobile apps.
      </p>
    </div>
  </div>
  <br style="clear: both">
</section>
